[Unit]
Description=Check for Home Center stable updates every 10 minutes

[Timer]
OnBootSec=2min
OnUnitInactiveSec=10min
AccuracySec=1s
Persistent=true
Unit=home-center-auto-update.service

[Install]
WantedBy=timers.target
